In [ ]:
# ------------------------------------------------------------

In [2]:
CHRONO = 'data/nealelab_1180.bed'
CIRC_INTR = '../data/circadian_variants_introgressed.bed'

In [3]:
import pandas as pd
import numpy as np
import math
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")
import matplotlib.pylab as plt
pd.set_option('display.max_rows', 600)

In [4]:
def column_name_mapping(df):
    mapping = {df.columns[0]: 'Chr', 
               df.columns[1]: 'Start', 
               df.columns[2]: 'End'}
    df = df.rename(columns=mapping)
    return df

In [5]:
chronotype = pd.read_csv(CHRONO, sep='\t')
chronotype = column_name_mapping(chronotype)

In [6]:
circadian_introgressed = pd.read_csv(CIRC_INTR, sep='\t')
circadian_introgressed = column_name_mapping(circadian_introgressed)

In [7]:
df_full = pd.merge(chronotype,circadian_introgressed,on=['Chr','Start','End'])

In [8]:
df_full.sort_values(by='pval',inplace=True)
df_full.reset_index(drop=True,inplace=True)

In [9]:
df_full.head()

,Chr,Start,End,Ref/Alt,beta,pval,phenotype,ID,REF/ALT,GeneID,GeneName,Region
0,chr2,239228511,239228512,C/T,0.040956,1.505220e-23,1180,rs57033609,C/T,ENSG00000132326,PER2,Regulatory
1,chr2,239279632,239279633,C/T,0.040792,1.735040e-23,1180,rs75921156,C/T,ENSG00000132326,PER2,Regulatory
2,chr2,239269278,239269279,C/G,0.040481,3.808180e-23,1180,rs112067424,C/G,ENSG00000132326,PER2,Regulatory
3,chr2,239335233,239335234,C/T,0.031857,6.091000e-20,1180,rs56396448,C/T,ENSG00000132326,PER2,Regulatory
4,chr2,239409000,239409001,C/T,0.028256,1.412260e-16,1180,rs72993065,C/T,ENSG00000132326,PER2,Regulatory

In [10]:
c=0
l=[]
for i in range(len(df_full)):
    if df_full['beta'][i] >= 0:
        c+=1
    l.append([df_full['ID'][i],df_full['beta'][i],df_full['pval'][i],math.log10(df_full['pval'][i]),c/(i+1)])
    #l.append([math.log10(df_short['pval'][i]),c/(i+1)])

In [11]:
df_plot = pd.DataFrame(l,columns=['ID','Beta','P-Value','log10 P-Value','% Morningness'])

In [13]:
df_plot.head()

            ID      Beta       P-Value  log10 P-Value  % Morningness
0   rs57033609  0.040956  1.505220e-23     -22.822400            1.0
1   rs75921156  0.040792  1.735040e-23     -22.760691            1.0
2  rs112067424  0.040481  3.808180e-23     -22.419283            1.0
3   rs56396448  0.031857  6.091000e-20     -19.215311            1.0
4   rs72993065  0.028256  1.412260e-16     -15.850085            1.0

In [14]:
# SAVE
#df_plot.to_csv('data/plotting_ukbb_morningness_direction_of_effect_circadian.txt',
#                           sep='\t', index=False)

In [ ]:
# -----------------------------------------------------------------------
# PREPARE INPUT DATA FOR CLUMPING IN PLINK
# Create input file containing columns: SNP|PVAL
# Download MAGMA CEU: wget https://ctg.cncr.nl/software/MAGMA/ref_data/g1000_eur.zip
# plink --bfile g1000_eur --clump /dors/capra_lab/users/velazqks/projects/neanderthal_circadian/notebooks/data/input_clump_ukbb_gwas_1180_circadian.txt --clump-r2 0.90 --clump-field P --clump-p1 1 --out ukbb_morningness_introgressed_circadian_direction_of_effect
# cp plink.clumped /dors/capra_lab/users/velazqks/projects/neanderthal_circadian/notebooks/data/

In [26]:
to_clump_1180 = df_full[['RSID','pval']].copy()
to_clump_1180.rename(columns={'RSID':'SNP','pval':'P'},inplace=True)

In [27]:
to_clump_1180 = to_clump_1180[to_clump_1180['SNP'].str.startswith('rs')]

In [28]:
# SAVE
#to_clump_1180.to_csv('data/input_clump_ukbb_gwas_1180_circadian.txt',sep='\t', index=False)

In [ ]:
# ---------------------------------------------------
# WRANGLE PLINK CLUMPED FILE

In [15]:
# Open clumped file
f = open('data/ukbb_morningness_introgressed_circadian_direction_of_effect.clumped').readlines()
fl = [line.split() for line in f]
df_clumped = pd.DataFrame(fl[1:], columns=fl[0:1][0])
df_clumped.dropna(inplace=True)
#df_clumped.columns = fl[0:1][0]
df_clumped['BP'] = df_clumped['BP'].map(int)

df_clumped['START'] = df_clumped['BP'].map(int) - 1
df_clumped = df_clumped[['CHR','START','BP','SNP','TOTAL','SP2']]
df_clumped['CHR'] = df_clumped['CHR'].replace('^', 'chr', regex=True)

df_clumped.rename(columns={'SNP':'RSID'}, inplace=True)

In [19]:
df_clumped.head()

,CHR,START,BP,RSID,TOTAL,SP2
0,chr2,239228511,239228512,rs57033609,2,"rs112067424(1),rs75921156(1)"
1,chr2,239335233,239335234,rs56396448,0,NONE
2,chr2,239409000,239409001,rs72993065,2,"rs1123472(1),rs72994970(1)"
3,chr2,239149569,239149570,rs960783,1,rs35333999(1)
4,chr2,239187208,239187209,rs74508725,3,"rs74508725(1),rs75316580(1),rs75316580(1)"

In [20]:
# GET BETA AND PVAL COLUMNS
df_clump_merge = pd.merge(df_clumped,df_full,left_on='RSID',right_on='ID')

In [21]:
# GENERATE CUMULATIVE MORNINGNESS PERCENTAGE AND LOG10 PVALUE
c=0
l=[]
for i in range(len(df_clump_merge)):
    if df_clump_merge['beta'][i] >= 0:
        c+=1
    l.append([df_clump_merge['RSID'][i],df_clump_merge['beta'][i],(df_clump_merge['pval'][i]),math.log10(df_clump_merge['pval'][i]),c/(i+1)])
    #l.append([math.log10(df_short['pval'][i]),c/(i+1)])
    
clump_plot = pd.DataFrame(l,columns=['RSID','Beta','P-Value','log10 P-Value','% Morningness'])

In [23]:
# SAVE
#clump_plot.to_csv('data/plotting_ukbb_morningness_introgressed_circadian_direction_of_effect_clump.txt',
#               sep='\t', index=False)